<a href="https://colab.research.google.com/github/ProtikgoswamiCSE/class_collab/blob/main/First_code(28_01_24).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Protik")

Protik

In [ ]:
value = input("kichu likh beta-")
print(value)
type("value")

kichu likh beta-5
5

str

In [ ]:
username = input("Enter Username : ")
print ("Username is :" + username)

Enter Username : 10
Username is :10

In [ ]:
a=10
b=5.7
c="are ki eta"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
str1 = 'welcome back'
str2='our new python program'
print(str1[0:2])
print(str1[4:])
print(str1*2)
print(str1 + " " +str2)

we
ome back
welcome backwelcome back
welcome back our new python program

In [ ]:
list1=[1,"hi","python",2]
print(type(list1))
print(list1)

print(list1[3:])

print(list1[0:2])

print(list1+list1)

print(list1*3)

<class 'list'>
[1, 'hi', 'python', 2]
[2]
[1, 'hi']
[1, 'hi', 'python', 2, 1, 'hi', 'python', 2]
[1, 'hi', 'python', 2, 1, 'hi', 'python', 2, 1, 'hi', 'python', 2]

In [ ]:
tup = ("hi","python",2)
print(type(tup))

print(tup)

print(tup[1:])

print(tup[0:1])

print(tup+tup)

print(tup*3)

<class 'tuple'>
('hi', 'python', 2)
('python', 2)
('hi',)
('hi', 'python', 2, 'hi', 'python', 2)
('hi', 'python', 2, 'hi', 'python', 2, 'hi', 'python', 2)

In [ ]:
d={1:'jimmy',4:'alex',3:'john',2:'mike'}
print(type(d))
print(d)
print(d.keys())
print(d.values())

<class 'dict'>
{1: 'jimmy', 4: 'alex', 3: 'john', 2: 'mike'}
dict_keys([1, 4, 3, 2])
dict_values(['jimmy', 'alex', 'john', 'mike'])

In [ ]:
set1 = set()
set2={'james',2,3,'python'}
print(type(set1))
set1.add('DIU')
set1.add('CSE')
print(set1)
set1.remove('DIU')
print(set1)
print(set2)

<class 'set'>
{'CSE', 'DIU'}
{'CSE'}
{'james', 2, 3, 'python'}

In [ ]:
import keyword
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
a= int(input("Enter a"))
b=int(input("Enter b"))
temp=a
a=b
b=temp
print(a)
print(b)

Enter a5
Enter b6
6
5

In [ ]:
a =int (input('Enter number a'))
b =int (input('Enter number b'))
py=a
a=b
b=py
print(a)
print(b)

Enter number a5
Enter number b6
6
5

In [ ]:
a= int(input(""))
b= int(input(""))
py=a
a=b
b=py
print(a)
print(b)

8
0
0
8

In [ ]:
x=0b10100
y=100
z=0o213
u= 0x12d

float_1=100.5
float_2=1.5e2

a=5+3.14j

print(x,y,z,u)
print(float_1,float_2)
print(a,a.imag,a.real)

20 100 139 301
100.5 150.0
(5+3.14j) 3.14 5.0

In [ ]:
str1='''Welcome
to my
computer'''
print(str1)

Welcome
to my
computer

In [ ]:
str2='hello\
mamu'
print(str2)

hellomamu

In [ ]:
a=int(input("enter first variable:"))
b=int(input("enter second variable:"))
print("addition",a+b)
print("substraction",a-b)
print("multi",a*b)
print("divi",a/b)
print("remainder",a%b)
print("expo",a**b)
print("floor",a//b)

enter first variable:5
enter second variable:6
addition 11
substraction -1
multi 30
divi 0.8333333333333334
remainder 5
expo 15625
floor 0

In [ ]:
a=int(input("enter first num:"))
b=int(input("enter second num:"))
print("is equal",a==b)
print("not equal",a!=b)
print("a less then or equal",a<=b)
print("a greater then or equal",a>=b)
print("a is greater b",a>b)
print("a is less b",a<b)

enter first num:4
enter second num:7
is equal False
not equal True
a less then or equal True
a greater then or equal False
a is greater b False
a is less b True

In [ ]:
a=int(input("enter first num:"))
b=int(input("enter second num:"))
print('a=b',a==b)
print('a+=b',a+b)
print('a-=b',a-b)
print('a*=b',a*b)
print('a%=b',a%b)
print('a**=b',a**b)
print('a//=b',a//b)

enter first num:10
enter second num:5
a=b False
a+=b 15
a-=b 5
a*=b 50
a%=b 0
a**=b 100000
a//=b 2

In [ ]:
a=int(input('enter number A'))
b=int (input('enter number B'))
py=a
a=b
b=py
print(a)
print(b)

enter number A8
enter number B9
9
8

In [ ]:
import calendar
year = int(input ('Enter The Year:'))
month = int(input ('Enter The month:'))
calendar = calendar.month(year,month)
print (calendar)

Enter The Year:1997
Enter The month:10
    October 1997
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [ ]:
import calendar
year = int(input('Enter year'))
month = int(input('Enter month'))
calendar = calendar.month(year,month)
print(calendar)

Enter year2050
Enter month10
    October 2050
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31