<a href="https://colab.research.google.com/github/ProtikgoswamiCSE/class_collab/blob/main/lab3(18_02_24).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1=[4,5,6,7,8,9]
sq=0
list2=[]
for i in list1 :
  sq=i**2
  list2.append(sq)
print('The List of Square:',list2)

The List of Square: [16, 25, 36, 49, 64, 81]

In [ ]:
list1=[4,5,6,7,8,9]
sq=0
sum=sq
list2=[]
for i in list1 :
  sq=i**2
  sum+=sq
  list2.append(sq)
print('The List of Square:',list2)
print('The List of sum:',sum)

The List of Square: [16, 25, 36, 49, 64, 81]
The List of sum: 271

In [ ]:
#Even or Odd
t1=[1,2,3,4,5,6,7,8,9]
for i in t1:
  if i%2==0:
    print(i,'is an Even Number')
  else:
    print(i,'is an Odd Number')

1 is an Odd Number
2 is an Even Number
3 is an Odd Number
4 is an Even Number
5 is an Odd Number
6 is an Even Number
7 is an Odd Number
8 is an Even Number
9 is an Odd Number

In [ ]:
print(range(19))
print(list(range(19)))
print(list(range(3,19)))
print(list(range(3,19,4)))
print(list(range(0,101,2)))

range(0, 19)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[3, 7, 11, 15]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
t=("Daffodil","International","University")
print("Uppercase :")
for i in range(len(t)):
  print(t[i].upper())

Uppercase :
DAFFODIL
INTERNATIONAL
UNIVERSITY

In [ ]:
# Converting a string to uppercase
original_string = "Hello, World!"
uppercase_string = original_string.upper()
print(uppercase_string)  # Output: HELLO, WORLD!

# Converting a string to lowercase
original_string = "Hello, World!"
lowercase_string = original_string.lower()
print(lowercase_string)  # Output: hello, world!

HELLO, WORLD!
hello, world!

In [ ]:
i=0
while i<10:
  print("Before Increment :",i)
  i+=3
  print("After Increment :",i)

Before Increment : 0
After Increment : 3
Before Increment : 3
After Increment : 6
Before Increment : 6
After Increment : 9
Before Increment : 9
After Increment : 12

In [ ]:
for s in "daffodil":
  if s == "f":
    #break
    #continue
    pass
  print('Letter :',s)

Letter : d
Letter : a
Letter : f
Letter : f
Letter : o
Letter : d
Letter : i
Letter : l

In [ ]:
def separate_vowels_consonants(string):
    vowels = ""
    consonants = ""

    # Iterate through each character in the string
    for char in string:
        if char.lower() in 'aeiou':  # Check if the character is a vowel
            vowels += char
        elif char.isalpha():  # Check if the character is a consonant
            consonants += char

    return vowels, consonants

# Example usage:
input_string = "Hello, World!"
vowels, consonants = separate_vowels_consonants(input_string)
print("Vowels:", vowels)         # Output: eo
print("Consonants:", consonants) # Output: HllWrld

In [ ]:
for s in "daffodil":
  if s == "a"or"e"or"i"or"o"or"u":
    break
    #continue
    #pass
  print('vowle :',s)

In [ ]:
input_string = input("Enter a string: ")
vowels = ""
consonants = ""

for char in input_string:
    if char.lower() in 'aeiou':
        vowels += char
    elif char.isalpha():
        consonants += char

print("Vowels:", vowels)
print("Consonants:", consonants)

Enter a string: Daffodil International
Vowels: aoiIeaioa
Consonants: Dffdlntrntnl

In [ ]:
v=0;v1=[];c=0;c1=[];
for s in "daffodil":
  if s == "a" or s == "e" or s == "i" or s == "o" or s == "u":
    v+=1
    v1.append(s)
  elif s==' ':
    continue
  else:
    print('consonant:', s)

consonant: d
consonant: f
consonant: f
consonant: d
consonant: l

In [ ]:
import random
n=[]
for i in range(11):
  n.append(random.randint(0, 100))
  print(n)

[57]
[57, 51]
[57, 51, 91]
[57, 51, 91, 73]
[57, 51, 91, 73, 60]
[57, 51, 91, 73, 60, 100]
[57, 51, 91, 73, 60, 100, 2]
[57, 51, 91, 73, 60, 100, 2, 93]
[57, 51, 91, 73, 60, 100, 2, 93, 8]
[57, 51, 91, 73, 60, 100, 2, 93, 8, 35]
[57, 51, 91, 73, 60, 100, 2, 93, 8, 35, 6]

In [ ]:
import random
n=[]
for i in range(11):
  n.append(random.randint(0, 100))
  print(n)

[95]
[95, 11]
[95, 11, 27]
[95, 11, 27, 39]
[95, 11, 27, 39, 5]
[95, 11, 27, 39, 5, 52]
[95, 11, 27, 39, 5, 52, 16]
[95, 11, 27, 39, 5, 52, 16, 77]
[95, 11, 27, 39, 5, 52, 16, 77, 90]
[95, 11, 27, 39, 5, 52, 16, 77, 90, 50]
[95, 11, 27, 39, 5, 52, 16, 77, 90, 50, 2]

In [ ]:
import random
n=[]
for i in range(11):
  n.append(random.randint(0,100))
  print(n)

[49]
[49, 94]
[49, 94, 68]
[49, 94, 68, 11]
[49, 94, 68, 11, 63]
[49, 94, 68, 11, 63, 52]
[49, 94, 68, 11, 63, 52, 49]
[49, 94, 68, 11, 63, 52, 49, 88]
[49, 94, 68, 11, 63, 52, 49, 88, 13]
[49, 94, 68, 11, 63, 52, 49, 88, 13, 23]
[49, 94, 68, 11, 63, 52, 49, 88, 13, 23, 67]

In [ ]:
#evulation

In [ ]:
my_list = [3,5,6,8,4]
for iter_var in range(len(my_list)):
  my_list.append(my_list[iter_var]+2)
  print(my_list)

[3, 5, 6, 8, 4, 5]
[3, 5, 6, 8, 4, 5, 7]
[3, 5, 6, 8, 4, 5, 7, 8]
[3, 5, 6, 8, 4, 5, 7, 8, 10]
[3, 5, 6, 8, 4, 5, 7, 8, 10, 6]

In [ ]:
my_list = [3, 5, 6, 8, 4]

for iter_var in range(len(my_list)):
  my_list.append(my_list[iter_var] + 2)
  print(my_list)

[3, 5, 6, 8, 4, 5]
[3, 5, 6, 8, 4, 5, 7]
[3, 5, 6, 8, 4, 5, 7, 8]
[3, 5, 6, 8, 4, 5, 7, 8, 10]
[3, 5, 6, 8, 4, 5, 7, 8, 10, 6]

In [ ]:
def sum(a,b):
  c=a+b
  return c
def Square(a):
  return

In [ ]:
# phon pick

In [ ]:
record={'Abdul':90,'Rahim':80,'Kalam':70}
s1='Rahim'
s2='Kalam'
def marks(s):
  for i in record:
    if i==s:
      return record[i]
      break
  else:
    return f'The Date of {s} is not the record'
print(f'Markof {s1}is :',marks(s1))
print(f'Markof {s2}is :',marks(s2))

Markof Rahimis : 80
Markof Kalamis : 70

In [ ]:
#amstrong number h.w

In [ ]:
for num in range(0, 100):
    if all(num % i != 0 for i in range(2, int(num**0.5) + 1)):
      print(num)
print("")
print("Prime numbers between 0 and 100:")

0
1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Prime numbers between 0 and 100: