<a href="https://colab.research.google.com/github/ProtikgoswamiCSE/class_collab/blob/main/Lab4(25_02_24).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
c=[1,4.5,7.3,'Daffodil','CSE']
print(c[3])
print(c[-3])
c.append(19)
print(c)
print(c[-2])

Daffodil
7.3
[1, 4.5, 7.3, 'Daffodil', 'CSE', 19]
CSE

In [ ]:
c=(1,4.5,7.3,'Daffodil','CSE')
#print(c[3])
#print(c[-3])
c+=(19,28)
print(c)
#print(c[-2])

(1, 4.5, 7.3, 'Daffodil', 'CSE', 19, 28)

In [ ]:
t=(1,4.5,7.3,'Daffodil','CSE')
a,b,c,d,e=t
print(a)
print(b)
print(c)
print(d)

1
4.5
7.3
Daffodil

In [ ]:
list =[3,5,8,1,2,4,5,7]
list.sort()
print(list)

[1, 2, 3, 4, 5, 5, 7, 8]

In [ ]:
list =[3,5,8,1,2,4,5,7]
list.sort(reverse=True)
print(list)

[8, 7, 5, 5, 4, 3, 2, 1]

In [ ]:
list1 =[3,5,8,1,2,4,5,7]
list2 =sorted(list1)
list3 =sorted(list1,reverse=True)
print(list1)
print(list2)
print(list3)

[3, 5, 8, 1, 2, 4, 5, 7]
[1, 2, 3, 4, 5, 5, 7, 8]
[8, 7, 5, 5, 4, 3, 2, 1]

In [ ]:
list1 =[3,5,8,1,2,4,5,7]
#print index nimber
print(list.index(5))
print(list.index(8))

2
0

In [ ]:
list1 =[3,5,8,1,2,4,5,7]
#print index nimber
print(list.index(5))
#range
print(list.index(3,0,8))

2
5

In [ ]:
list1 =[3,2,1,5,9,2,3,6,7,4,8,9,5,4]
print(10 in list)

False

In [ ]:
stack=[]
stack.append('A')
stack.append('B')
stack.append('C')
stack.append('D')
stack.append('E')
stack

['A', 'B', 'C', 'D', 'E']

In [ ]:
stack.pop()
print(stack)
stack.pop()
print(stack)

['A', 'B', 'C', 'D']
['A', 'B', 'C']

In [ ]:
list=[i for i in range (1,21,2)]
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
list=[i**2 for i in range (1,21,2)]
print(list)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [ ]:
list=[i**2 for i in range (1,21,2) if i%2==1]
print(list)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [ ]:
for v in (i**2 for i in range (1,21,2) if i%2==1):
  print(v,end='  ')

1  9  25  49  81  121  169  225  289  361

In [ ]:
ord('R')
#aski value print

82

In [ ]:
list =[3,2,1,5,9,2,3,6,7,4,8,9,5,4]
list2=[i for i in reversed (list1)]
print(list2)

[4, 5, 9, 8, 4, 7, 6, 3, 2, 9, 5, 1, 2, 3]

In [ ]:
list =[v for v in (i**2 for i in range (1,21,2) if i%2==1)]
print(list1)
list2=[i for i in reversed (list1)]
print(list2)

[3, 2, 1, 5, 9, 2, 3, 6, 7, 4, 8, 9, 5, 4]
[4, 5, 9, 8, 4, 7, 6, 3, 2, 9, 5, 1, 2, 3]

In [ ]:
a=[[1,2,3,4],[3,4,5,6],[6,7,8,9]]
a

[[1, 2, 3, 4], [3, 4, 5, 6], [6, 7, 8, 9]]

In [ ]:
for row in a:
  for value in row:
    print(value,end='  ')
  print()

1  2  3  4
3  4  5  6
6  7  8  9

In [ ]:
for i,row in enumerate(a):
  for j,value in enumerate (row):
    print(f'a[{i},{j}]={value}',end='  ')
  print()

a[0,0]=1  a[0,1]=2  a[0,2]=3  a[0,3]=4
a[1,0]=3  a[1,1]=4  a[1,2]=5  a[1,3]=6
a[2,0]=6  a[2,1]=7  a[2,2]=8  a[2,3]=9

In [ ]:
c=[1,4.5,7.3,'Daffodil','CSE']
print(c[3])
print(c[:3])
print(c[3:])
print(c[2:])
print(c[1:3])
print(c[:])

Daffodil
[1, 4.5, 7.3]
['Daffodil', 'CSE']
[7.3, 'Daffodil', 'CSE']
[4.5, 7.3]
[1, 4.5, 7.3, 'Daffodil', 'CSE']

In [ ]:
def sum (n):
  return n+n
numbers =(2,3,4,5,6)
result= map(sum,numbers)
print(list(result))

TypeError: 'list' object is not callable

In [ ]:
def chack (n):
  if n%2==0:
    return (f'{n}is an even Number')
  else:
    return (f'{n}is an odd Number')
l=[i for i in range(1,21)]
list(map(check,l))

NameError: name 'check' is not defined

In [ ]:
city=dict()
city
city['Dhanmondi']='1205'
city['kolabagan']='1206'
city['shyamoli']='1207'
city

{'Dhanmondi': '1205', 'kolabagan': '1206', 'shyamoli': '1207'}

In [ ]:
for area,code in city.items():
  print(f'{area}area code is {code}')

Dhanmondiarea code is 1205
kolabaganarea code is 1206
shyamoliarea code is 1207

In [ ]:
city['kolabagan']

'1206'

In [ ]:
city.update({'Mohammadpur' :1209})
city

{'Dhanmondi': '1205',
 'kolabagan': '1206',
 'shyamoli': '1207',
 'Mohammadpur': 1209}

In [ ]:
city['kolabagan']='1250'
city

{'Dhanmondi': '1205',
 'kolabagan': '1250',
 'shyamoli': '1207',
 'Mohammadpur': 1209}

In [ ]:
del city['kolabagan']
city

{'Dhanmondi': '1205', 'shyamoli': '1207', 'Mohammadpur': 1209}

In [ ]:
colors=set()
colors={'red','green','blue'}
colors

{'blue', 'green', 'red'}

In [ ]:
colors={'red','green','blue'}
len(colors)

3

In [ ]:
colors={'red','green','blue'}
colors.add('yellow')
colors

{'blue', 'green', 'red', 'yellow'}

In [ ]:
n =int(input ('Enter the Number'))
for i in range (0,11):
#  a into i
  print(n,"x",i,"=",n*i)

Enter the Number10
10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
colors={'red','green','blue'}
colors.remove('green')
colors

{'blue', 'red'}

In [ ]:
#input a string vowel and vowel are and consonent conconsonent are
a= input('Input the String')

print(a)

Input the StringDaffodil
Daffodil

In [ ]:
def separate_vowels_and_consonants(input_string):
    vowels = ""
    consonants = ""
    for char in input_string:
        if char.lower() in 'aeiou':
            vowels += char
        elif char.isalpha():
            consonants += char
    return vowels, consonants

input_str = input("Enter a string: ")
vowels, consonants = separate_vowels_and_consonants(input_str)
print("Vowels:", vowels)
print("Consonants:", consonants)